* {
    box-sizing: border-box;
}

body {
    
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

fieldset {
    font-size: 1em;
}

.header {
    padding: 20px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.nav li {
    border: 1px dotted black;
    padding: 2px;
}

.quizStart {
    border: 1px solid black;
    margin: 100px auto;
    padding: 10px;
    width: 60%;
    text-align: center;
}

.quizQuestion {
    border: 1px solid black;
    margin: 100px auto;
    padding: 10px;
    width: 60%;
    align-self: center;
}

.move-right {
    margin-left: 10%;
}

.question{
    margin-bottom: 15px;
}

.center-button {
    text-align: center;
}

.quizAnswer {
    border: 1px solid black;
    margin: 200px auto;
    padding: 10px;
    width: 60%;
    align-self: center;
    text-align: center;
}

.score-box {
    padding: 15px;
}

.quizEnd {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
}

.pic-box {
    border: 1px solid black;
    height: 200px;
    width: 80%;
    margin: 10px auto;
    background:
      linear-gradient(to top right,
         transparent calc(50% - 1px), gray calc(50% - 1px),
         gray calc(50% + 1px), transparent calc(50% + 1px)),
      linear-gradient(to bottom right,
         transparent calc(50% - 1px), gray calc(50% - 1px),
         gray calc(50% + 1px), transparent calc(50% + 1px));
}